@model WebApplicationHsApp.Models.CMSAdminDashBoard
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .image {
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .divcontainer:hover .image {
        opacity: 0.3;
    }

    .divcontainer:hover .middle {
        opacity: 1;
    }

    .text {
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
        cursor: pointer;
    }

    .card {
        margin-bottom: 1.875rem;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: 0 10px 40px 0 rgba(62,57,107,.07),0 2px 9px 0 rgba(62,57,107,.06);
        box-shadow: 0 10px 40px 0 rgba(62,57,107,.07),0 2px 9px 0 rgba(62,57,107,.06)
    }

        .card .card {
            -webkit-box-shadow: none !important;
            box-shadow: none !important
        }

        .card .card-title {
            font-weight: 500;
            letter-spacing: .05rem;
            font-size: 1.12rem
        }

        .card .card-bordered {
            border: 1px solid rgba(0,0,0,.06)
        }

        .card.card-fullscreen {
            display: block;
            z-index: 9999;
            position: fixed;
            width: 100% !important;
            height: 100% !important;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            overflow: auto
        }

        .card .card-body[class*=border-bottom-] {
            border-bottom-width: 2px !important
        }

        .card .card-img-overlay.bg-overlay {
            background: rgba(0,0,0,.45)
        }

        .card .card-img-overlay .text-muted {
            color: #1B2942 !important
        }

        .card.card-minimal {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none
        }

    .card-body {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.5rem;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .card-moved .card, .card-moved .card-header {
        background-color: #FFA87D;
        color: #FFF
    }

    .handle, .titleArea {
        cursor: move
    }

    .card-header {
        border-bottom: none
    }

        .card-header .card-title {
            margin-bottom: 0
        }

        .card-header .heading-elements, .card-header .heading-elements-toggle {
            background-color: inherit;
            position: absolute;
            top: 20px;
            right: 21px
        }

            .card-header .heading-elements-toggle.heading-top-elements .page-item, .card-header .heading-elements.heading-top-elements .page-item {
                display: inline-block
            }

            .card-header .heading-elements a, .card-header .heading-elements-toggle a {
                padding: 0 8px
            }

                .card-header .heading-elements a.btn, .card-header .heading-elements-toggle a.btn {
                    padding-top: 6px;
                    padding-bottom: 6px
                }

    .card-footer {
        border-top: 1px solid #EEE
    }

    .media {
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .media-body {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .align-items-stretch {
        -webkit-box-align: stretch !important;
        -webkit-align-items: stretch !important;
        -moz-box-align: stretch !important;
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
    }

    .white {
        color: #FFF !important;
    }

    .bg-primary {
        background-color: #00B5B8 !important;
    }

        .bg-primary.bg-darken-2, .btn-primary.btn-darken-2 {
            background-color: #008385 !important;
        }

    .bg-danger.bg-darken-2, .btn-danger.btn-darken-2 {
        background-color: #FF425C !important;
    }

    .bg-warning.bg-darken-2, .btn-warning.btn-darken-2 {
        background-color: #FF864A !important;
    }

    .bg-success.bg-darken-2, .btn-success.btn-darken-2 {
        background-color: #11A578 !important;
    }

    .text-center {
        text-align: center !important;
    }

    .p-2 {
        padding: 1.5rem !important;
    }

    .font-large-2 {
        font-size: 5rem !important;
    }

    .bg-gradient-x-primary {
        background-image: -webkit-gradient(linear,left top,right top,from(#008385),to(#00E7EB));
        background-image: -webkit-linear-gradient(left,#008385 0,#00E7EB 100%);
        background-image: -moz-linear-gradient(left,#008385 0,#00E7EB 100%);
        background-image: -o-linear-gradient(left,#008385 0,#00E7EB 100%);
        background-image: linear-gradient(to right,#008385 0,#00E7EB 100%);
        background-repeat: repeat-x;
    }

    .h5, h5 {
        font-size: 1.74rem;
    }

    .text-bold-400 {
        font-weight: 400;
    }

    .mb-0, .my-0 {
        margin-bottom: 0 !important;
    }

    .primary {
        color: #00B5B8 !important
    }

    .danger {
        color: #FF7588 !important;
    }

    .bg-danger {
        background-color: #FF7588 !important;
    }

    .success {
        color: #16D39A !important;
    }

    .bg-success {
        background-color: #16D39A !important;
    }

    .warning {
        color: #FFA87D !important;
    }

    .bg-warning {
        background-color: #FFA87D !important;
    }

    #container {
        height: 400px;
        max-width: 800px;
        margin: 0 auto;
    }

    /* Link the series colors to axis colors */
    .highcharts-color-0 {
        fill: #7cb5ec;
        stroke: #7cb5ec;
    }

    .highcharts-axis.highcharts-color-0 .highcharts-axis-line {
        stroke: #7cb5ec;
    }

    .highcharts-axis.highcharts-color-0 text {
        fill: #7cb5ec;
    }

    .highcharts-color-1 {
        fill: #90ed7d;
        stroke: #90ed7d;
    }

    .highcharts-axis.highcharts-color-1 .highcharts-axis-line {
        stroke: #90ed7d;
    }

    .highcharts-axis.highcharts-color-1 text {
        fill: #90ed7d;
    }


    .highcharts-yaxis .highcharts-axis-line {
        stroke-width: 2px;
    }

    .nav-pills li a {
        color: white;
    }

        .nav-pills li a:hover {
            color: black !important;
        }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background-color: rgba(0,0,0,.2) !important;
    }
</style>
<div id="page-wrapper">
    <h4 style="text-align:center;color:crimson;">Admin Team</h4>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Last 10 Orders
                </div>
                <div class="panel-body">
                    <div id="DivMyOrders">
                        <table class="table table-striped" style="width:100%;">
                            <thead>
                                <tr style="background-color:crimson;color:white;">
                                    <td>Id</td>
                                    <td>Item</td>
                                    <td>Date</td>
                                    <td>Qty</td>
                                    <td>Comments</td>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.myOrders != null && Model.myOrders.Count > 0)
                                {
                                    for (int i = 0; i < Model.myOrders.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.myOrders[i].Id</td>
                                            <td>@Model.myOrders[i].Item</td>
                                            <td>@Model.myOrders[i].Date.ToString("dd/MM/yyyy")</td>
                                            <td>@Model.myOrders[i].Qty</td>
                                            <td>@Model.myOrders[i].Comments</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Last 10 Payments
                </div>
                <div class="panel-body">
                    <table class="table table-striped" style="width:100%;">
                        <thead>
                            <tr style="background-color:chocolate;color:white;">
                                <td>Id</td>
                                <td>Type</td>
                                <td>Date</td>
                                <td>Amount</td>
                                <td>Comments</td>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.myPayments != null && Model.myPayments.Count > 0)
                            {
                                for (int i = 0; i < Model.myPayments.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.myPayments[i].Id</td>
                                        <td>@Model.myPayments[i].Type</td>
                                        <td>@Model.myPayments[i].Date.ToString("dd/MM/yyyy")</td>
                                        <td>@Model.myPayments[i].Amount</td>
                                        <td>@Model.myOrders[i].Comments</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-primary bg-darken-2">
                            <i class="glyphicon glyphicon-camera font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-primary white media-body">
                            <h5>Total Payment Received</h5>
                            <h5 class="text-bold-400 mb-0"><i class="glyphicon glyphicon-th-list"></i>&nbsp;@Model.TotalPayment</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-danger bg-darken-2">
                            <i class="glyphicon glyphicon-user font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-danger white media-body">
                            <h5>Total Payment Due</h5>
                            <h5 class="text-bold-400 mb-0"><i class="glyphicon glyphicon-zoom-in"></i>&nbsp;@Model.NonCooked</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-warning bg-darken-2">
                            <i class="glyphicon glyphicon-shopping-cart font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-warning white media-body">
                            <h5>Total Non-Cooked Items</h5>
                            <h5 class="text-bold-400 mb-0"><i class="glyphicon glyphicon-search"></i>&nbsp;@Model.Cooked</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-success bg-darken-2">
                            <i class="glyphicon glyphicon-th font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-success white media-body">
                            <h5>Total Cooked Items Sales</h5>
                            <h5 class="text-bold-400 mb-0"><i class="glyphicon glyphicon-bookmark"></i>&nbsp;10</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:crimson;font-weight:bold;">
                    Today Break fast
                </div>
                <div class="panel-body">
                    <div id="DivMyOrders">
                        <table class="table table-striped" style="width:100%;">
                            <thead>
                                <tr style="background-color:crimson;color:white;">
                                    <td></td>
                                    <td>Count</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total Received</td>
                                    <td>@Model.mealType[0].TotalReceived</td>
                                </tr>
                                <tr>
                                    <td>Total Sale</td>
                                    <td>@Model.mealType[0].TotalSale</td>
                                </tr>
                                <tr>
                                    <td>Waste/Damage</td>
                                    <td>@Model.mealType[0].WasteDamage</td>
                                </tr>
                                <tr>
                                    <td>Retrun</td>
                                    <td>@Model.mealType[0].Retrun</td>
                                </tr>
                                <tr>
                                    <td>Balance</td>
                                    <td>@Model.mealType[0].Balance</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:chocolate;font-weight:bold;">
                    Today Lunch
                </div>
                <div class="panel-body">
                    <div id="DivMyOrders">
                        <table class="table table-striped" style="width:100%;">
                            <thead>
                                <tr style="background-color:chocolate;color:white;">
                                    <td></td>
                                    <td>Count</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total Received</td>
                                    <td>@Model.mealType[1].TotalReceived</td>
                                </tr>
                                <tr>
                                    <td>Total Sale</td>
                                    <td>@Model.mealType[1].TotalSale</td>
                                </tr>
                                <tr>
                                    <td>Waste/Damage</td>
                                    <td>@Model.mealType[1].WasteDamage</td>
                                </tr>
                                <tr>
                                    <td>Retrun</td>
                                    <td>@Model.mealType[1].Retrun</td>
                                </tr>
                                <tr>
                                    <td>Balance</td>
                                    <td>@Model.mealType[1].Balance</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:darkgoldenrod;font-weight:bold;">
                    Today  Dinner
                </div>
                <div class="panel-body">
                    <table class="table table-striped" style="width:100%;">
                        <thead>
                            <tr style="background-color:darkgoldenrod;color:white;">
                                <td></td>
                                <td>Count</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Received</td>
                                <td>@Model.mealType[2].TotalReceived</td>
                            </tr>
                            <tr>
                                <td>Total Sale</td>
                                <td>@Model.mealType[2].TotalSale</td>
                            </tr>
                            <tr>
                                <td>Waste/Damage</td>
                                <td>@Model.mealType[2].WasteDamage</td>
                            </tr>
                            <tr>
                                <td>Retrun</td>
                                <td>@Model.mealType[2].Retrun</td>
                            </tr>
                            <tr>
                                <td>Balance</td>
                                <td>@Model.mealType[2].Balance</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
