@*@model IEnumerable<WebApplicationHsApp.DataModel.tbl_EventManage>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>
    var eventid, validate, MealTypes, ConferenceWorkshop;
    function RegisterDelegate(id) {
        eventid = id;
        $.get("/Event/GetconandworkshopFullDetails", { eventId: id }, function (List) {

            var html = "";
            $("#tableCW tbody").empty();
            for (var i = 0; i < List.length; i++) {

                ConferenceWorkshop = List;
                var Edate = new Date(parseInt(List[i].EventDate.substr(6)));
                var year = Edate.getFullYear();
                var month = Edate.getMonth() + 1;
                if (month < 10) {
                    month = "0" + month;
                }
                var day = Edate.getDate();
                if (day < 10) {
                    day = "0" + day;
                }
                html += "<tr><td><span  id='ECWdate" + i + "'>" + day + '/' + month + '/' + year + "</span></td>"
                if (List[i].IsConference == true) {
                    html += "<td><input type='text'  style='width:70px;float:left;' disabled id='ConferenceAmount" + i + "' class='form-control' value='" + List[i].ConferenceAmount + "' /><label><input type='checkbox' class='cbcheckboxevent' id='eConference" + i + "' autocomplete='off' onchange=CheckboxChange('ConferenceAmount" + i + "','eConference" + i + "'); ><span>Conference</span></label ></td>";
                }
                else {
                    html += "<td>No Conference</td>";
                }
                if (List[i].IsWorkshop == true) {
                    html += "<td><input type='text' style='width:70px;float:left;' id='WorkshopAmount" + i + "' class='form-control' disabled value='" + List[i].WorkshopAmount + "'/> <label > <input type='checkbox' class='cbcheckboxevent' id='eWorkshop" + i + "' autocomplete='off' onchange=CheckboxChange('WorkshopAmount" + i + "','eWorkshop" + i + "'); > <span>Workshop</span></label ></td >";
                }
                else {
                    html += "<td> No WorkShop</td>";
                }
                if (List[i].IsWorkshop == true && List[i].IsConference == true) {
                    html += "<td><input type='text' class='form-control' id='Amount" + i + "' disabled value='" + List[0].Amount + "'/></td></tr>";
                }
                else {
                    html += "<td>Need to select only one </td></tr>";
                }
                // html += "<tr><td><span  id='ECWdate" + i + "'>" + day + '-' + month + '-' + year + "</span></td><td><input type='text' disabled id='ConferenceAmount" + i + "' class='form-control' value='" + List[0].ConferenceAmount + "'/><label class='btn btn-primary'><input type='checkbox' id = 'eConference" + i + "' autocomplete ='off'  onchange=CheckboxChange('ConferenceAmount" + i + "','eConference" + i + "'); ><span>Conference</span></label ></td><td><input type='text' id='WorkshopAmount" + i + "' class='form-control' disabled value='" + List[0].WorkshopAmount + "'/> <label class='btn btn-success'><input type='checkbox' id = 'eWorkshop" + i + "' autocomplete ='off' onchange=CheckboxChange('WorkshopAmount" + i + "','eWorkshop" + i + "'); ><span>Workshop</span></label ></td><td><input type='text' class='form-control' id='Amount" + i + "' disabled value='" + List[0].Amount +"'/></td></tr>";
            }
            $("#tableCW").append(html);
            $("#myModalDelegate").modal('show');
            $(".Registrationtype").css("display", "block");
            $("#dStatus").val("DELEGATE");
        });
    }
    function CheckboxChange(confwrkid, checkbox) {
        var totalamount = $("#dTotalAmount").val();
        var value = $("#" + confwrkid).val();
        var checkboxval = $("#" + checkbox).prop('checked');
        if (checkboxval) {
            totalamount = parseFloat(value) + parseFloat(totalamount);
            $("#dTotalAmount").val(totalamount);
            $("#dFinalBlanceTopay").val(totalamount);
        } else {
            totalamount = parseFloat(totalamount) - parseFloat(value);
            $("#dTotalAmount").val(totalamount);
            $("#dFinalBlanceTopay").val(totalamount);
        }
    }
    function OnchangeDiscount() {
        var discount = parseFloat($("#dDiscount").val());
        var totalamount = parseFloat($("#dTotalAmount").val());
        $("#dFinalBlanceTopay").val(totalamount - discount);
    }
    function funcheckboxchange() {
        if ($("#cbFullEvent").is(":checked")) {
            var amountforevent = $("#amountforevent_" + eventid).val();
            if (amountforevent == null) {
                amountforevent = 0;
            }
            $("#dTotalAmount").val(parseFloat(amountforevent));
            $(".cbcheckboxevent").prop("disabled", true);
        } else {
            $("#dTotalAmount").val(0);
            $(".cbcheckboxevent").removeAttr("disabled");
        }
        OnchangeDiscount();
        $(".cbcheckboxevent").prop('checked', false);
    }
    function MealTypes() {
        $.get("/Event/GetMealTypeFullDetails", { eventId: eventid }, function (mealtype) {

            MealTypes = mealtype;
            var EventStartDate = $("#eEventStartDate_" + id).html();
            var EventEndDate = $("#eEventEndDate_" + id).html();

            var dataPartsSt = EventStartDate.split("/");
            // month is 0-based, that's why we need dataParts[1] - 1
            var dateEventStart = new Date(dataPartsSt[2], dataPartsSt[1] - 1, dataPartsSt[0]);

            var dataPartsEn = EventEndDate.split("/");
            // month is 0-based, that's why we need dataParts[1] - 1
            var dateEventEnd = new Date(dataPartsEn[2], dataPartsEn[1] - 1, dataPartsEn[0]);
            var htmldates = '<option value="">Select</option>';
            var htmlformealtype = "";
            while (dateEventStart <= dateEventEnd) {
                var dd = dateEventStart.getDate();
                var mm = dateEventStart.getMonth() + 1;
                var y = dateEventStart.getFullYear();
                if (mm < 10) {
                    mm = "0" + mm;
                }
                var FormattedDate = dd + '/' + mm + '/' + y;
                htmldates += '<option value="' + FormattedDate + '">' + FormattedDate + '</option>';
                for (var i = 0; i < mealtype.length; i++) {
                    htmlformealtype += "<tr>";
                    htmlformealtype += "<td>" + FormattedDate + "<input type='hidden' id='evntdate_" + mealtype[i].MealTypeId + "' value='" + FormattedDate + "' /></td>";
                    htmlformealtype += "<td>" + mealtype[i].Name + "</td>";
                    htmlformealtype += "<td><input type='number' id='qty_" + mealtype[i].MealTypeId + "' value='1' /></td>";
                    htmlformealtype += "<td><input type='text' id='comments_" + mealtype[i].MealTypeId + "' class='form-control' /></td>";
                    htmlformealtype += "<td><input type='checkbox' id='cbyes_" + mealtype[i].MealTypeId + "' /></td>";
                    htmlformealtype += "</tr>";
                }
                dateEventStart.setDate(dateEventStart.getDate() + 1);
            }
            $("#tblmealtype").html(htmlformealtype);
            $("#BookingFromDate").html(htmldates);
            $("#BookingToDate").html(htmldates);
            $("#myModalDelegate").modal('show');
        });
    }
    function validateDelegate() {
        validate = true;
        $(".css-error").removeClass('css-error');
        if ($("#dName").val() == "") {
            $("#dName").addClass('css-error');
            validate = false;
        }
        var mobileNumber = $("#dPhoneNumber").val();
        if (mobileNumber == "" || mobileNumber.length < 10 || mobileNumber.length > 10) {
            $("#dPhoneNumber").addClass('css-error');
            validate = false;
        } else if (mobileNumber.length == 10) {
            if (parseInt(mobileNumber[0]) < 6) {
                $("#dPhoneNumber").addClass('css-error');
                alert("enter valid Phone number.");
                validate = false;
            }
        }
        //if ($("#dAddress").val() == "") {
        //    $("#dAddress").addClass('css-error');
        //    validate = false;
        //}
        //if ($("#dQualification").val() == "") {
        //    $("#dQualification").addClass('css-error');
        //    validate = false;
        //}
        //if ($("#dComments").val() == "") {
        //    $("#dComments").addClass('css-error');
        //    validate = false;
        //}
        //if ($("#dStatus").val() == "") {
        //    $("#dStatus").addClass('css-error');
        //    validate = false;
        //}
        //if ($("#dState").val() == "") {
        //    $("#dState").addClass('css-error');
        //    validate = false;
        //}
        //if ($("#dCity").val() == "") {
        //    $("#dCity").addClass('css-error');
        //    validate = false;
        //}
        if ($("#dTitle").val() == "") {
            $("#dTitle").addClass('css-error');
            validate = false;
        }
        if ($("#dRegistrationNo").val() == "") {
            $("#dRegistrationNo").addClass('css-error');
            validate = false;
        }
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

        var emailaddressVal = $("#dEmailId").val();
        if (emailaddressVal == '') {
            $("#dEmailId").addClass('css-error');
            validate = false;
        }
        //if ($("#dPaymentType").val() == "") {
        //    $("#dPaymentType").addClass('css-error');
        //    validate = false;
        //}
        //else if (!emailReg.test(emailaddressVal)) {
        //    alert('Enter a valid email address.');
        //    $("#dEmailId").addClass('css-error');
        //    validate = false;
        //}
        if (validate) {
            //var DelegateId = parseInt($("#dDelegateId").val()) > 0 ? $("#dDelegateId").val() : 0;
            //$.ajax({
            //    type: "POST",
            //    url: "/EventMaster/checkDelegateStatus",
            //    data: { name: $("#dName").val(), EmailId: $("#dEmailId").val(), DelegateId: DelegateId },
            //    async: false,
            //    success: function (result) {
            //        if (result) {
            //            alert("Delegate Name and Email existed.!");
            //            validate = false;
            //        }
            //        else {
            saveDelegateDetails();
            //        }
            //    },
            //    error: function (err) {
            //        validate = false;
            //    }
            //});
        }
    }
    function saveDelegateDetails() {
        if (validate) {
            var gender = '';
            if ($("#dMale").is(":checked")) { gender = 'Male'; }
            else if ($("#dFemale").is(":checked")) { gender = 'Female'; }
            else if ($("#dTransgender").is(":checked")) { gender = 'Transgender'; }
            var model = {
                Address: $("#dAddress").val(),
                City: $("#dCity").val(),
                Comments: $("#dComments").val(),
                EmailId: $("#dEmailId").val(),
                Gender: gender,
                Name: $("#dName").val(),
                PhoneNumber: $("#dPhoneNumber").val(),
                Qualification: $("#dQualification").val(),
                RegistrationNo: $("#dRegistrationNo").val(),
                State: $("#dState").val(),
                Status: $("#dStatus").val(),
                Title: $("#dTitle").val(),
                IsActive: true,
                EventId: eventid,
                BookingFromDate: $("#BookingFromDate").val(),
                BookingToDate: $("#BookingToDate").val(),
                //Conference: $("#Conference").prop("checked"),
                //Workshop: $("#Workshop").prop("checked"),
                UTRTransaction: $("#dUTRTransaction").val(),
                PaymentType: $("#dPaymentType").val(),
                BankName: $("#dBankName").val(),
                CCdetails: $("#dCCdetails").val(),
                TotalAmount: $("#dTotalAmount").val(),
                Discount: $("#dDiscount").val(),
                FinalBlanceTopay: $("#dFinalBlanceTopay").val(),
                Document4: $("#cbFullEvent").is(":checked"),
                CompanyName: $("#CompanyName").val(),
                EventDelegateMealTypeModel: [],
                EventDelegateMethodModel: []
            }
            //for (var i = 0; i < MealTypes.length; i++) {
            //    if ($("#cbyes_" + MealTypes[i].MealTypeId).prop("checked")) {
            //        var submodel = {
            //            EventDate: $("#evntdate_" + MealTypes[i].MealTypeId).val(),
            //            MealTypeId: MealTypes[i].MealTypeId
            //        }
            //        model.EventDelegateMealTypeModel.push(submodel);
            //    }
            //}
            for (var i = 0; i < ConferenceWorkshop.length; i++) {

                var submodel = {
                    IsConference: false,
                    IsWorkshop: false,
                    EventDate: $("#ECWdate" + i).text(),
                    Amount: null,
                    ConferenceAmount: null,
                    WorkshopAmount: null
                }
                if (ConferenceWorkshop[i].IsConference == true) {
                    submodel.IsConference = $("#eConference" + i).is(":checked");
                    if (submodel.IsConference == true) {
                        submodel.ConferenceAmount = $("#ConferenceAmount" + i).val();
                    }
                }

                if (ConferenceWorkshop[i].IsWorkshop == true) {
                    submodel.IsWorkshop = $("#eWorkshop" + i).is(":checked");
                    if (submodel.IsWorkshop == true) {
                        submodel.WorkshopAmount = $("#WorkshopAmount" + i).val();
                    }
                }
                if (ConferenceWorkshop[i].IsWorkshop == true && ConferenceWorkshop.IsConference == true) {
                    submodel.Amount = $("#Amount" + i).val();
                }
                if (submodel.Amount != null || submodel.WorkshopAmount != null || submodel.ConferenceAmount != null) {

                    model.EventDelegateMethodModel.push(submodel);
                }
            }
            //if (model.EventDelegateMethodModel.length != 0 || model.) {
            $.ajax({
                type: "POST",
                url: "/EventMaster/SaveDelegateDetailsNew",
                //contentType: false, // Not to set any content header
                //processData: false, // Not to process data
                data: model,
                success: function (result) {
                    window.open('/Event/PrintIdCard/' + result);
                    alert("Delegate successfully updated");
                    window.location.reload();
                },
                error: function (err) {
                    alert(err.statusText);
                    clearData();
                }
            });
            //}
            //else {
            //    alert("please select conference or workshop");
            //}
        }
    }
    function clearData() {
        $(".error").hide();
        $(".css-error").removeClass('css-error');
        $("#dDelegateId").val("");
        $("#dName").val("");
        $("#dEmailId").val("");
        $("#dPhoneNumber").val("");
        $("#dAddress").val("");
        $("#dQualification").val("");
        $("#dComments").val("");
        $("#dStatus").val("");
        $("#dState").val("");
        $("#dCity").val("");
        $("#dTitle").val("");
        $("#dRegistrationNo").val("");
        $('#btnSave').val('Save');
        $('#dDocument1').val(null);
        $('#dDocument2').val(null);
        $('#dDocument3').val(null);
        $('#dDocument4').val(null);
        $("#dMale").attr('checked', true);
        $("#dFemale").attr('checked', false);
        $("#dTransgender").attr('checked', false);
        $("#myModalDelegate").modal("hide");
        //GetAllDelegateDetails();
        $("#dUTRTransaction").val("");
        $("#dPaymentType").val("");
        $("#dBankName").val("");
        $("#dCCdetails").val("");
        $("#dTotalAmount").val(0);
        $("#dDiscount").val(0);
        $("#dFinalBlanceTopay").val(0);
    }
    function onchangedPaymentType() {
        var value = $("#dPaymentType").val();
        if (value == "Cash") {
            $(".ptypetrn").hide();
            $(".Creditcard").hide();
        } else if (value == "Paytm") {
            $(".ptypetrn").show();
            $(".Creditcard").hide();
        }
        else if (value == "Debit_Credit_Card") {
            $(".ptypetrn").hide();
            $(".Creditcard").show();
        }
    }
    $(document).ready(function () {
        $(".ptypetrn").hide();
        $(".Creditcard").hide();
    });

    function ddldeleagetypechange() {
        var value = $("#dStatus").val();
        $(".Registrationtypeemp").css("display", "none");
        $(".Registrationtypesp").css("display", "none");
        if (value == "DELEGATE") {
            $(".Registrationtype").css("display", "block");

        } else {
            $(".Registrationtype").css("display", "none");
            if (value == "SPONSOR") {
                $(".Registrationtypesp").css("display", "block");
            }
            if (value == "EMPLOYEE") {
                $(".Registrationtypeemp").css("display", "block");
            }
        }
    }
    function GetEmployeeDetails() {
        $.get("/Home/GetEmployeeByEmpId?empId=" + $("#txtempid").val(), function (data) {
            $("#dName").val(data.FirstName);
            $("#dEmailId").val(data.EmailId);
            $("#dPhoneNumber").val(data.PhoneNumber);
            //$("#dAddress").val(data.FirstName);
            //$("#dCity").val(data.FirstName);
            //$("#dState").val(data.FirstName);
        });
    }
</script>
<div class="row">
    @foreach (var ev in Model)
    {
        string eventstartdate = ev.EventStartDate != null ? ev.EventStartDate.ToString("dd/MM/yyyy") : "";
        string eventenddate = ev.EventEndDate != null ? ev.EventEndDate.ToString("dd/MM/yyyy") : "";
        <div class="col-md-4">
            <div class="panel panel-default" style="text-align:center;">
                <div class="panel-heading">
                    <h3 class="panel-title" style="color:#c4122f;">@ev.Name</h3>
                </div>
                <div class="panel-body" style="text-align:center;height:320px;">
                    <input type="hidden" id="amountforevent_@ev.EventId" value="@ev.EventTotalAmount" />
                    <p>
                        <span class="glyphicon glyphicon-shopping-cart" style="color:purple;"></span>&nbsp;@ev.NumberOfSeats &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-map-marker" style="color:teal;"></span>&nbsp;@ev.EventLocation &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-calendar" style="color:green;"></span> <span id="eEventStartDate_@ev.EventId">@eventstartdate</span> to <span id="eEventEndDate_@ev.EventId">@eventenddate</span>
                    </p>
                    <img style="height: 200px; width: 100%; display: block;" onerror="this.src='/images/Fernandez.png'" src="~/Uploads/@ev.Document1" alt="image" />
                    <div class="card-body">
                        @if (ev.Description!=null && ev.Description.Length > 200)
                        {
                            <p class="card-text">@ev.Description.Substring(0, 200)</p>
                        }
                        else
                        {
                            <p class="card-text">@ev.Description</p>
                        }
                    </div>
                    <div>
                        <a href="/Event/EventMeals/@ev.EventId" class="btn btn-success right">Event Meal</a>&nbsp;
                        <a href="/Event/EventWelcomeKit/@ev.EventId" class="btn btn-warning right">Welcome Kit</a>&nbsp;
                        <button type="button" class="btn btn-success left" id="@ev.EventId" onclick="RegisterDelegate(this.id);">Register Delegate</button>
                        <div class="btn-group right">
                            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span></div>
                            <ul class="dropdown-menu">
                                <li><a href="/Event/ViewDelegates/@ev.EventId">View All Delegates</a></li>
                                <li><a href="/Event/ViewPayments/@ev.EventId">View Payments</a></li>
                                <li><a href="/Event/ViewEvent?eventId=@ev.EventId">More Details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<br />
<br />
<br />
<br />

<div id="myModalDelegate" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header row">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title col-md-4">Register Delegate</h4>
                <div class="col-md-6" style="text-align:left;">
                    <label for="name">Registration Type<span style="color:red;">&nbsp;*</span></label>
                    <select id="dStatus" class="form-control" style="float:right;" onchange="ddldeleagetypechange();">
                        <option value="DELEGATE" selected>DELEGATE</option>
                        <option value="FACULTY">FACULTY</option>
                        <option value="VOLUNTEER">VOLUNTEER</option>
                        <option value="SPONSOR">SPONSOR</option>
                        <option value="SPECIAL_INVITEE">SPECIAL_INVITEE</option>
                        <option value="EMPLOYEE">EMPLOYEE</option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="dDelegateId">
                <div class="row Registrationtypeemp" style="display:none;margin-bottom:15px;">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        Enter Employee Id : <input type="text" id="txtempid" /> <input type="button" onclick="GetEmployeeDetails();" value="Search" class="btn" />
                    </div>
                    <div class="col-md-3">

                    </div>

                </div>
                <div class="row" style="padding:5px;">
                    <div class="col-md-3">
                        <label for="name">Title<span style="color:red;">&nbsp;*</span></label>
                        <select class="form-control" id="dTitle">
                            <option value="">Select</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>
                            <option value="Dr">Dr</option>
                            <option value="Professor">Professor</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="name">Name<span style="color:red;">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="dName" />
                    </div>
                    <div class="col-md-3">
                        <label for="name">Email<span style="color:red;">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="dEmailId">
                    </div>
                    <div class="col-md-3">
                        <label for="name">Phone Number<span style="color:red;">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="dPhoneNumber">
                    </div>
                </div>
                <div class="row" style="padding:5px;">

                    <div class="col-md-3">
                        <label for="name">Gender<span style="color:red;">&nbsp;*</span></label><br />
                        <input type="radio" id="dMale" checked name="transaction"> Male
                        <input type="radio" id="dFemale" name="transaction"> Female
                        <input type="radio" id="dTransgender" name="transaction"> Transgender
                    </div>

                    <div class="col-md-3 Registrationtype">
                        <label for="name">Address</label>
                        <textarea rows="1" class="form-control" id="dAddress"></textarea>
                    </div>


                    <div class="col-md-3 Registrationtype">
                        <label for="name">City<span style="color:red;">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="dCity">
                    </div>
                    <div class="col-md-3 Registrationtype">
                        <label for="name">State<span style="color:red;">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="dState">
                    </div>
                </div>

                <div class="row" style="padding:5px;">

                    <div class="col-md-3 Registrationtype">
                        <label for="name">Qualification</label>
                        <input type="text" class="form-control" id="dQualification" />
                    </div>
                    <div class="col-md-3 Registrationtypesp" style="display:none;">
                        <label for="name">Company Name</label>
                        <input type="text" class="form-control" id="CompanyName" />
                    </div>

                    <div class="col-md-3 Registrationtype">
                        <label for="name">Payment Type<span style="color:red;">&nbsp;*</span></label>
                        <select class="form-control" id="dPaymentType" onchange="onchangedPaymentType();">
                            <option value="">Select</option>
                            <option value="Cash" selected>Cash</option>
                            <option value="Paytm">Paytm</option>
                            <option value="Debit_Credit_Card">Debit/Credit Card</option>
                        </select>
                    </div>
                    <div class="col-md-3 ptypetrn">
                        <label for="name">UTR Transaction No.</label>
                        <textarea rows="1" style="width:100%;" class="form-control" id="dUTRTransaction"></textarea>
                    </div>
                    <div class="col-md-4 Creditcard">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="name">Bank Name</label>
                                <input type="text" class="form-control" id="dBankName" />
                            </div>
                            <div class="col-md-6">
                                <label for="name">CC Details</label>
                                <input type="text" class="form-control" id="dCCdetails" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 Registrationtype">
                        <br />
                        <input type="checkbox" id="cbFullEvent" onchange="funcheckboxchange();" />
                        <label for="name">Book Full Event</label>

                    </div>
                    <div class="col-md-4" style="display:none;">
                        <label for="BookingFromDate">Start Date<span style="color:red;">&nbsp;*</span></label>
                        <select class="form-control" id="BookingFromDate"></select>
                    </div>
                    <div class="col-md-4" style="display:none;">
                        <label for="BookingToDate">End Date<span style="color:red;">&nbsp;*</span></label>
                        <select class="form-control" id="BookingToDate"></select>
                    </div>
                </div>



                @*<div class="row" style="padding:5px;">
                        <div class="col-md-12">
                            <label for="Comments">Workshop/Conference<span style="color:red;">&nbsp;</span></label>

                            <label class="btn btn-primary">
                                <input type="checkbox" id="Workshop" autocomplete="off">
                                <span>Workshop</span>
                            </label>
                            <label class="btn btn-primary">
                                <input type="checkbox" id="Conference" autocomplete="off">
                                <span>Conference</span>
                            </label>
                        </div>
                    </div>*@
                <br />
                <div class="row Registrationtype">
                    <table class="table table-bordered" id="tableCW">
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Conference Amount</td>
                                <td>WorkShop Amount</td>
                                <td>For both Amount</td>
                            </tr>
                        </thead>
                        <tbody id="tblmealtype"></tbody>
                    </table>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-md-3">
                        <label for="name">Comments</label>
                        <textarea rows="1" class="form-control" id="dComments"></textarea>
                    </div>
                    <div class="col-md-3 Registrationtype">
                        <label for="name">Total</label>
                        <input type="text" class="form-control" value="0" id="dTotalAmount" />
                    </div>
                    <div class="col-md-3 Registrationtype">
                        <label for="name">Discount</label>
                        <input type="text" class="form-control" value="0" id="dDiscount" onchange="OnchangeDiscount();" />
                    </div>

                    <div class="col-md-3 Registrationtype">
                        <label for="name">Final Amount To Pay</label>
                        <input type="text" class="form-control" value="0" id="dFinalBlanceTopay" />
                    </div>
                </div>


                <div class="modal-footer">
                    <div class="row">

                        <div class="col-md-6">
                            <input type="button" id="btnSave" value="Submit" onclick="validateDelegate();" class="btn btn-primary">
                            <button type="button" class="btn btn-default" id="btnClear" data-dismiss="modal" onclick="clearData();">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>